<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Here is your order summary!</h4>

        <% @order.line_items.each do |item| %>
        <p> Product <%= item.product.name%></p>
        <p> Price <%= item.product.price%></p>
        <p> Quantity <%= item[:quantity].to_i%></p>
        <br> 
        <% end %>
        <p> TOTAL: <%= @order.total_cents / 100.0 %></p>
  </body>
</html>
